:root {
    --color: darkslategrey;
    --borderColor: silver;
}

* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}


.content {
    text-align: center;
}

.content>div {
    margin: 1em 0;
}


thead td {
    font-weight: bold;
    border-bottom: 1px solid var(--borderColor);
    ;
}


td {
    padding: 0 0.5em;
}

table {
    border-collapse: collapse;
}

.links {
    text-align: left;
    display: inline-block;
}

.links>div {
    margin: 0.5em 0;
}

button {
    margin: 0 1em 0 0;
}

.controls {
    /* text-align: left; */
}

tr:empty:nth-last-child(n+2) {
    border: 1px solid var(--borderColor);
    ;
}

thead>tr>td:nth-child(3) {
    width: 8em;
}

tr:has(td[colspan])>* {
    color: crimson;
}

.note>a {
    font-weight: bold;
    color: orangered;
    font-size: 1.5em;
}